In [55]:
import pandas as pd

In [67]:
df=pd.read_csv('Resources/City_Zhvi_AllHomes.csv')

In [68]:
df

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,196258.0,...,659421.0,659007.0,658239.0,656925.0,655613.0,654394.0,653930.0,653901.0,653565.0,652307.0
1,1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,185649.0,...,712660.0,713807.0,715688.0,718245.0,721896.0,725180.0,730358.0,735910.0,744137.0,752508.0
2,2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,93518.0,...,186844.0,187464.0,188070.0,188496.0,189125.0,189612.0,190179.0,190395.0,190938.0,191907.0
3,3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,130920.0,...,248372.0,248646.0,248725.0,248483.0,248278.0,248090.0,248029.0,248220.0,248599.0,249152.0
4,4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,94041.0,...,182732.0,183350.0,183930.0,184846.0,185490.0,186244.0,186420.0,186962.0,187129.0,187718.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27325,27325,48550,29449,Winton,City,MN,MN,Duluth,Saint Louis County,NaN,...,70929.0,70176.0,68979.0,68537.0,68948.0,69481.0,69423.0,69355.0,69654.0,70399.0
27326,27326,51821,29449,Eastabuchie,City,MS,MS,Laurel,Jones County,NaN,...,77737.0,78461.0,79138.0,79930.0,79683.0,79838.0,80272.0,80969.0,81871.0,82284.0
27327,27327,232607,29449,Dean,City,TX,TX,Wichita Falls,Clay County,NaN,...,178872.0,179976.0,180654.0,181188.0,181613.0,182101.0,182424.0,182764.0,182639.0,182361.0
27328,27328,6638,29449,Pulaski,City,GA,GA,NaN,Candler County,NaN,...,97356.0,97757.0,98014.0,98225.0,98303.0,98613.0,98802.0,99227.0,99699.0,100464.0
27329,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,NaN,...,88745.0,89233.0,89169.0,89628.0,90073.0,90961.0,91745.0,92232.0,92787.0,93564.0

In [69]:
df.dtypes

Unnamed: 0      int64
RegionID        int64
SizeRank        int64
RegionName     object
RegionType     object
               ...
2019-11-30    float64
2019-12-31    float64
2020-01-31    float64
2020-02-29    float64
2020-03-31    float64
Length: 300, dtype: object

In [70]:
df.set_index(['Unnamed: 0','RegionID','SizeRank','RegionName','RegionType','StateName','State','Metro','CountyName'], inplace=True)

In [71]:
df = df.stack().reset_index()

In [72]:
df

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,level_9,0
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-01-31,196258.0
1,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-02-29,195693.0
2,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-03-31,195383.0
3,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-04-30,194836.0
4,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-05-31,194652.0
...,...,...,...,...,...,...,...,...,...,...,...
5907651,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2019-11-30,90961.0
5907652,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2019-12-31,91745.0
5907653,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2020-01-31,92232.0
5907654,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2020-02-29,92787.0
5907655,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2020-03-31,93564.0

In [78]:
df.rename(columns = {'level_9':'Date', df.columns[10]:'Price'}, inplace = True)

In [79]:
df

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Date,Price
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-01-31,196258.0
1,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-02-29,195693.0
2,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-03-31,195383.0
3,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-04-30,194836.0
4,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,1996-05-31,194652.0
...,...,...,...,...,...,...,...,...,...,...,...
5907651,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2019-11-30,90961.0
5907652,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2019-12-31,91745.0
5907653,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2020-01-31,92232.0
5907654,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2020-02-29,92787.0
5907655,27329,33089,29449,New Paris,City,PA,PA,NaN,Bedford County,2020-03-31,93564.0

In [80]:
df.describe

<bound method NDFrame.describe of          Unnamed: 0  RegionID  SizeRank RegionName RegionType StateName State  \
0                 0      6181         0   New York       City        NY    NY
1                 0      6181         0   New York       City        NY    NY
2                 0      6181         0   New York       City        NY    NY
3                 0      6181         0   New York       City        NY    NY
4                 0      6181         0   New York       City        NY    NY
...             ...       ...       ...        ...        ...       ...   ...
5907651       27329     33089     29449  New Paris       City        PA    PA
5907652       27329     33089     29449  New Paris       City        PA    PA
5907653       27329     33089     29449  New Paris       City        PA    PA
5907654       27329     33089     29449  New Paris       City        PA    PA
5907655       27329     33089     29449  New Paris       City        PA    PA

                               Metro      CountyName        Date     Price
0        New York-Newark-Jersey City   Queens County  1996-01-31  196258.0
1        New York-Newark-Jersey City   Queens County  1996-02-29  195693.0
2        New York-Newark-Jersey City   Queens County  1996-03-31  195383.0
3        New York-Newark-Jersey City   Queens County  1996-04-30  194836.0
4        New York-Newark-Jersey City   Queens County  1996-05-31  194652.0
...                              ...             ...         ...       ...
5907651                          NaN  Bedford County  2019-11-30   90961.0
5907652                          NaN  Bedford County  2019-12-31   91745.0
5907653                          NaN  Bedford County  2020-01-31   92232.0
5907654                          NaN  Bedford County  2020-02-29   92787.0
5907655                          NaN  Bedford County  2020-03-31   93564.0

[5907656 rows x 11 columns]>

In [81]:
tn_only = df['State'] == 'TN'
df_tn = df.loc[tn_only]
df_tn

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Date,Price
7074,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,1996-01-31,75490.0
7075,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,1996-02-29,75633.0
7076,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,1996-03-31,75801.0
7077,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,1996-04-30,76142.0
7078,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,1996-05-31,76524.0
...,...,...,...,...,...,...,...,...,...,...,...
5906196,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2019-11-30,233723.0
5906197,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2019-12-31,233537.0
5906198,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2020-01-31,232977.0
5906199,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2020-02-29,233098.0
5906200,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2020-03-31,232799.0

In [82]:
df_tn.dtypes

Unnamed: 0      int64
RegionID        int64
SizeRank        int64
RegionName     object
RegionType     object
StateName      object
State          object
Metro          object
CountyName     object
Date           object
Price         float64
dtype: object

In [83]:
df_tn['Date']= pd.to_datetime(df_tn['Date'])

C:\Users\Tommy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [84]:
df_tn.dtypes

Unnamed: 0             int64
RegionID               int64
SizeRank               int64
RegionName            object
RegionType            object
StateName             object
State                 object
Metro                 object
CountyName            object
Date          datetime64[ns]
Price                float64
dtype: object

In [85]:
df_tn_date = df_tn.loc[(df_tn['Date'] >= '2010-01-01')]

In [86]:
df_tn_date

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,Date,Price
7242,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,2010-01-31,75399.0
7243,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,2010-02-28,75209.0
7244,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,2010-03-31,75016.0
7245,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,2010-04-30,74787.0
7246,25,32811,25,Memphis,City,TN,TN,Memphis,Shelby County,2010-05-31,74614.0
...,...,...,...,...,...,...,...,...,...,...,...
5906196,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2019-11-30,233723.0
5906197,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2019-12-31,233537.0
5906198,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2020-01-31,232977.0
5906199,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2020-02-29,233098.0
5906200,27318,32351,29449,La Grange,City,TN,TN,Memphis,Fayette County,2020-03-31,232799.0